
$drop: .4em -.125em 1em;

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=M+PLUS+1:wght@100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

body{
    background-color: rebeccapurple;
    background: linear-gradient(238deg, rgba(131,58,180,1) 0%, rgba(192,73,202,1) 33%, rgba(131,58,180,1) 100%);
    display: grid;
    grid-template-columns: repeat(5, 20%);
    font-family: 'Josefin Sans', sans-serif;
}

main{
    
    grid-column: 2/5;
    
}

section, footer{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    border-radius: 2em;
    border: .1em solid #cb90d1;
    background-color: rgba(234, 210, 234, .1);
    background: linear-gradient(180deg, rgba(253,225,255,0.40397408963585435) 0%, rgba(255,255,255,0.47120098039215685) 20%, rgba(253,246,255,0.12666316526610644) 33%, rgba(253,225,255,.3) 100%);
    padding: 1em;
    margin: 1em 0;
    font-size: 1.2em;
}

h2{
    margin: 0;
    grid-column: 1/4;
    background: linear-gradient(33deg, #833ab4,#41176a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2em;
}

h3{
    grid-row: 2/3;
    grid-column: 1/4;
    margin: 0;
    font-family: "M PLUS 1", serif;
    font-size: 1.5em;

}


ul{
    list-style-type: none;
    padding: 0 0 0 0;
    grid-column: 2/4;
}

li{
    padding-top: .3em;
}

a{
    color:#55245a;
    text-decoration-style: wavy;
    
    :visited, :active{
        color:#8e2498;
    }
}


aside{
    display: inline;
    max-width: 75ch;
    min-width: 40ch;
}

footer{
    p{
        grid-column: 1/4; 
        margin: .3em;
    }
}

q{
    background: linear-gradient(13deg, #230c33, #41176a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h3{
    background: linear-gradient(13deg, #230c33, #41176a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

section{
}

#kiyomi{
    img{
        filter: drop-shadow($drop rebeccapurple);
        grid-column: 1/2;
        ::selection{
            filter: drop-shadow(0px 0px 0px rgb(65, 23, 106));
        }
    }
}

#ran{
    img{
        filter: drop-shadow($drop #f8bce2);
        grid-column: 1/2;
        ::selection{
            filter: drop-shadow(0px 0px 0px #41176a);
        }
    }
}

#aya{
    img{
        filter: drop-shadow($drop #8f42db);
        grid-column: 1/2;
        ::selection{
            filter: drop-shadow(0px 0px 0px #41176a);
        }
    }
}

::-webkit-scrollbar{
    width: 0em;
}
